@tailwind base;
@tailwind components;
@tailwind utilities;

*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  outline: none;
}

.btn {
  @apply bg-gradient-to-r from-green to-cyan text-white px-8 rounded-full py-3 text-xs hover:opacity-70
}

.logo {
  filter: brightness(0) invert(1);
}

ul li {
  @apply hover:text-green cursor-pointer
}